/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    color: aliceblue;
    line-height: 1.6;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./images/black-background-texture.png') no-repeat center center/cover;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #c71616;
}

.jumbotron {
    font-size: 600%;
}

/* Navbar */
header {
    background: rgba(0, 0, 0, 0);
    padding: 1rem 2rem;
    position:relative;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar {
    display: flex;
    gap: 2rem;
}

#navbar a {
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

#logo-img {
    height: 80px;
    width: 120px;
    border-radius: 50%;
}

/* Hero Section */
#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin: 0;
}

#profile-img {
    height: 450px;
    border-radius: 50%;
    margin-bottom: 1rem;
    position: absolute;
    left: 4%;
    top: 12%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    max-width: 800px;
}

.text-red {
    color: #cf2b2b;
}

/* About Section */
#about {
    padding-left: 5%;
    text-align: center;
    width: 50%;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
}

#about p {
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    text-align: center;
}

.intro {
    margin-left: 40%;
}

.intro img {
    display: block;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons a {
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #cf2b2b;
}

br {
    line-height: 5px;
    display: block;
    margin: 0%;
}

.hire-button {
    background-color: #cf2b2b;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0,3s ease;
}

.hire-button a {
    color: black;
}

.hire-button:hover {
    background-color: #a62121;
    transform:scale(110%);
    transition: 0.3s ease; 
}

.hire-button:hover a {
    color: rgba(227, 228, 230, 0.945);
}

.solid-circle {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 45px; 
    height: 45px; 
    background-color: #cf2b2b; 
    border-radius: 50%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.solid-circle:hover {
    transform: scale(110%);
    transition: ease 0.3s;
}

.solid-circle a i:hover {
    transform: scale(113%);
    transition: ease 0.3s;
    color: aliceblue;
}

.text-color-black {
    color: black;
}

.favicon-larger {
    font-size: 120%;
}